<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for pledging with Crowdfunder.</h1>
    <p>Your pledge amount:  <%= @pledge.amount.to_s %></p>
  </body>
</html>