@import "bootstrap";

.yield {
  margin-top: 60px;
  margin-left: 200px;
}

.member-links {
  float: right;
  margin-top: 10px;
}

.project {
  background-color: lightgray;
  border-radius: 3px;
  height: 40px;
  width: 80%;
  margin: 20px;

}

.p_text {
  position: 0, absolute;
  margin: 10px;
  padding-top: 10px;
}

ul
{
    list-style-type: none;
}