<h1>My Projects</h1>
<% @projects.each do |project| %>
<div class="project">
  <p class="p_text"><%= link_to project.title, my_project_path(project) %></p>
</div>
<% end %>
<%= link_to new_my_project_path do %>
  <button>New Project</button>
<% end %>